:root {
    --dark: #040D1A;
    --light-dark: #14273E;
    --blue: #456685;
    --light-blue: #B4C4D5;
    --light: #FCF8F6;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

.jp-background{
    background-color: var(--light-blue);
}

.jp-header{
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.jp-logo-container{
    height: 100%;
}

.jp-logo-container img{
    height: 100%;
}

.jp-navigation{
    height: 100%;
    display: flex;
}

.jp-navigation a{
    display: flex;
    height: 100%;
    padding: 0px 15px;
    align-items: center;
}

.jp-navigation a:last-child{
    padding-right: 0px;
}
.jp-navigation a li{
    color: var(--blue);
    font-family: 'Quicksand', sans-serif;
}

.jp-burger{
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.jp-burger div{
    width: 25px;
    height: 3px;
    background-color: var(--blue);
    margin: 3px;
    transition: all 0.3s ease;
}

@media screen and (max-width:550px) {
    body{
        overflow-x: hidden ;
    }
    .jp-navigation{
        position: absolute;
        right: 0px;
        height: 91vh;
        top: 9vh;
        background-color: var(--light-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .jp-navigation li {
        opacity: 0;
    }
    .jp-burger{
        display: flex;
        cursor: pointer;
    }
}

.jp-navigation-mobile-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.jp-burger-line-toggle .line1{
    transform: rotate(-45deg) translate(-5px, 7px);
}
.jp-burger-line-toggle .line2{
    opacity: 0;
}
.jp-burger-line-toggle .line3{
    transform: rotate(45deg) translate(-5px, -7px);    
}

.jp-body{
    margin-left: 20vw;    
    font-family: 'Quicksand', sans-serif;
    margin-top: 9vw;
    margin-right: 9vw;
}

.jp-intro{
    color: var(--light);
    font-weight: 300;
    font-size: 1.7vw;
}
.jp-name{
    color: var(--light-dark);
    font-weight: 700;
    letter-spacing: -0.45vw;
    font-size: 7vw;
}
.jp-slogan{
    color: var(--blue);
    font-weight: 600;
    letter-spacing: -0.45vw;
    font-size: 5.5vw;
}

@media screen and (max-width:700px) {
    .jp-intro{
        font-size: 20px;
    }
    .jp-name{
        font-size: 65px;
    }
    .jp-slogan{
        font-size: 40px;
    }
}
